<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add
          name="azureTableTransportBinding"
          type="AzurePerfTools.TableTransportChannel.AzureTableTransportBindingCollectionElement, AzurePerfTools.TableTransportChannel"/>
      </bindingExtensions>
    </extensions>
    <bindings>
      <azureTableTransportBinding>
        <binding 
          name="ReverseServer"
          deploymentId="00000000000000000000000000000000"
          role="SomeRole"
          instance="SomeRole_IN_0" />
      </azureTableTransportBinding>
    </bindings>
    <services>
      <service name="AzurePerfTools.TableTransportTestService.Reverse">
        <endpoint
          address="azure.table:PerfCommands"
          binding="azureTableTransportBinding"
          bindingConfiguration="ReverseServer"
          contract="AzurePerfTools.TableTransportTestContracts.IReverse" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>